# Dávid
TODO.txt
hncxml.dtd
mnsz2korap.txt
multi_divs_mnsz_files.txt
.TODO*
.idea/
.venv/
inputs/noske_test2
inputs/xml_clean_test2
sample_input/*
inputs/noske
MNSZ_KorAP/
inputs/xml_clean
sample_to_reproduce
sample_reproduced
scripts/old_mnsz2korap.py
scripts/test.py
backup.txt
scripts/check_xml_extraction.py
MNSZ2_teszt_output
mnsz2_noske_tabsep_oszlopok.README
